.devise-header
  = render "/shared/sub_header"
.main
  .main__box
    .main__box__header
      会員情報入力
    .main__box__contents
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource

        .main__box__contents__nickname
          .main__box__contents__nickname__top
            .main__box__contents__nickname__top__left
              ニックネーム
            .main__box__contents__nickname__top__right
              必須
          = f.text_field  :nickname, autocomplete: "new-nickname", class:"main__box__contents__nickname__form", placeholder:'例）メルカリ太郎'
          %span#nickname_error.error_m   

        .main__box__contents__email
          .main__box__contents__email__top
            .main__box__contents__email__top__left
              メールアドレス
            .main__box__contents__email__top__right
              必須
          = f.email_field :email, autocomplete: "email", placeholder:'PC・携帯どちらでも可',class:'main__box__contents__email__form'
          %span#email_error.error_m
          - @user.errors.full_messages_for(:email).each do |message|
            %span#email_error__color
              = "この#{message}"

        .main__box__contents__pass
          .main__box__contents__pass__top
            .main__box__contents__pass__top__left
              パスワード
            .main__box__contents__pass__top__right
              必須
          = f.password_field  :password, autocomplete: "new-password", class:"main__box__contents__pass__form", placeholder:'７文字以上の半角英数字'
          %span#password_error.error_m
          = f.password_field  :password_confirmation, autocomplete: "new-password", class:"main__box__contents__pass__repeat", placeholder:'（確認用）パスワード入力'
          %span#repeat_error.error_m
          .main__box__contents__pass__middle
            ※ 英字と数字の両方を含めて設定してください
          = check_box_tag :password
          = label_tag :password, "パスワードを表示する", {class: "main__box__contents__pass__bottom"}
          %span.main__box__contents__pass__display
        .main__box__contents__ident
          .main__box__contents__ident__top
            本人確認
          .main__box__contents__ident__bottom
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .main__box__contents__name
          .main__box__contents__name__top
            .main__box__contents__name__top__left
              お名前（全角） 
            .main__box__contents__name__top__right
              必須
          .main__box__contents__name__form
            = f.text_field  :family_name, autocomplete: "new-family_name", class:"main__box__contents__name__form__family", placeholder:'例）山田'
            = f.text_field  :last_name, autocomplete: "new-last_name", class:"main__box__contents__name__form__last", placeholder:'例）彩'
          %ul.main__box__contents__name__error
            %li.main__box__contents__name__error__family.error_m 
            %li.main__box__contents__name__error__last.error_m
          
        .main__box__contents__kana
          .main__box__contents__kana__top
            .main__box__contents__kana__top__left
              お名前かな（全角）
            .main__box__contents__kana__top__right
              必須
          .main__box__contents__kana__form
            = f.text_field  :j_family_name, autocomplete: "new-j_family_name", class:"main__box__contents__kana__form__j-family", placeholder:'例）やまだ'
            = f.text_field  :j_last_name, autocomplete: "new-j_last_name", class:"main__box__contents__kana__form__j-last", placeholder:'例）あや'
          %ul.main__box__contents__kana__error
            %li.main__box__contents__kana__error__j-family.error_m 
            %li.main__box__contents__kana__error__j-last.error_m
        
        .main__box__contents__birth
          .main__box__contents__birth__top
            .main__box__contents__birth__top__left
              生年月日
            .main__box__contents__birth__top__right
              必須
              = icon('fas', 'chevron-down', class: "icon")
          .main__box__contents__birth__middle
            .main__box__contents__birth__middle__year
              = f.select :b_year,{},{},{class: "main__box__contents__birth__middle__year__box"} do
                - year_array = []
                - for cnt in 1..100 do year_array[cnt] = cnt+1919 end 
                = options_for_select(year_array)
              = icon('fas', 'chevron-down', class: "main__box__contents__birth__middle__year__chevron")
              %p 年
            .main__box__contents__birth__middle__month
              = f.select :b_month,{},{},{class: "main__box__contents__birth__middle__month__box"} do
                - month_array = []
                - for cnt in 1..12 do month_array[cnt] = cnt end 
                = options_for_select(month_array)
              = icon('fas', 'chevron-down', class: "main__box__contents__birth__middle__month__chevron")
              %p 月
            .main__box__contents__birth__middle__date
              = f.select :b_date,{},{},{class: "main__box__contents__birth__middle__date__box"} do
                - date_array = []
                - for cnt in 1..31 do date_array[cnt] = cnt end 
                = options_for_select(date_array)
              = icon('fas', 'chevron-down', class: "main__box__contents__birth__middle__date__chevron")
              %p 日
          %span#b_year_error.error_m
          .main__box__contents__birth__bottom
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .main__box__contents__next
          .main__box__contents__next__top
            「次へ進む」のボタンを押すことにより、
            = link_to "#" do
              利用規約
            に同意したものとみなします
          = f.submit "次へ進む",class:'main__box__contents__next__middle'
          .main__box__contents__next__bottom
            = link_to "#" , class: "main__box__contents__next__bottom__link" do
              本人情報の登録について＞
        .main__box__contents__text
          .main__box__contents__text__line
            This site is protected by reCAPTCHA and the Google
            = link_to "#" do
              Privacy Policy 
            and
            = link_to "#" do
              Terms of Service apply.
= render "/shared/sub_footer"

