.mypage
  = render partial: "/shared/header"
  .mypage__main
    .mypage__main__mask
      .mypage__main__mask__left
        %ul.mypage__main__mask__left__nav-list
          %a.mypage__main__mask__left__nav-list__item.mypage__main__mask__left__nav-list__item--active{:href => "#"}
            %li マイページ
            = icon("fa", "angle-right", class: 'mypage__main__mask__left__nav-list__item__arrow')
          %a.mypage__main__mask__left__nav-list__item{:href => "#"}
            %li お知らせ
            = icon("fa", "angle-right", class: 'mypage__main__mask__left__nav-list__item__arrow')
          %a.mypage__main__mask__left__nav-list__item{:href => "#"}
            %li やることリスト
            = icon("fa", "angle-right", class: 'mypage__main__mask__left__nav-list__item__arrow')
          %a.mypage__main__mask__left__nav-list__item{:href => "#"}
            %li いいね！一覧
            = icon("fa", "angle-right", class: 'mypage__main__mask__left__nav-list__item__arrow')
          %a.mypage__main__mask__left__nav-list__item{:href => "#"}
            %li 出品する
            = icon("fa", "angle-right", class: 'mypage__main__mask__left__nav-list__item__arrow')
          %a.mypage__main__mask__left__nav-list__item{:href => "#"}
            %li 出品した商品-出品中
            = icon("fa", "angle-right", class: 'mypage__main__mask__left__nav-list__item__arrow')
          %a.mypage__main__mask__left__nav-list__item{:href => "#"}
            %li 出品した商品-取引中
            = icon("fa", "angle-right", class: 'mypage__main__mask__left__nav-list__item__arrow')
          %a.mypage__main__mask__left__nav-list__item{:href => "#"}