.purchase
  .purchase__inner
    .purchase__inner__top
      = image_tag("material/logo/logo.png", class: 'purchase__inner__top__logo')
    .purchase__inner__main
      %h1.purchase__inner__main__confirmation
        購入内容の確認
      .purchase__inner__main__item
        - objects = @item.item_images
        - first_image = objects.first 
        = image_tag first_image.image.url, class: 'purchase__inner__main__item__image'
        %ul.purchase__inner__main__item__description
          %li.purchase__inner__main__item__description__name #{@item.name}
          %li
            %ul.purchase__inner__main__item__description__money
              %li.purchase__inner__main__item__description__money__money ¥#{@item.price}（税込）
              %li.purchase__inner__main__item__description__money__text 送料込み
      = form_with(url: done_item_purchases_path(item_id: @itemId), model: @purchase, class: 'purchase__inner__main__form', local: true) do |f|
        .purchase__inner__main__form__cost
          %ul.purchase__inner__main__form__cost__box
            %li.purchase__inner__main__form__cost__box__head 支払い金額
            %li.purchase__inner__main__form__cost__box__amount ¥#{@item.price}
          = label_tag :use_point ,class: 'purchase__inner__main__form__cost__usepoint' do
            = f.check_box :use_point, class: 'purchase__inner__main__form__cost__usepoint__button'
            %p.purchase__inner__main__form__cost__usepoint__text ポイントを使用 (所持ポイント: P0)

        .purchase__inner__main__form__payment
          -# %ul
          -#   %li = link_to new_user_card_path(user_id: current_user.id) do
          -#     変更する
          -# %p.purchase__inner__main__form__payment__title 支払い方法
          -# = "**** **** **** " + @default_card_information.last4 
          -# %br
          -# - exp_month = @default_card_information.exp_month.to_s
          -# - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          -# = exp_month + " / " + exp_year
          -# %br
          -# = image_tag "/assets/material/credit/#{@default_card_src}", width: '40', height: '25', alt: @default_card_brand, id: "card_image"

        .purchase__inner__main__form__shipping
          - if @residence.new_record?
            %ul
              %li 配送先
              %li.register-button
                = icon("fas", "plus-circle")
                -# = link_to get_purchase_modify_item_purchases_path(user_id: current_user.id) do 
                = link_to get_purchase_modify_item_purchases_url(user_id: current_user.id) do
                  登録してください
          - else
            %ul.data-exists__header
              %li 配送先
              %li.data-exists__header__modify
                -# = link_to get_purchase_modify_item_purchases_path(item_id: @itemId) do
                = link_to get_purchase_modify_item_purchases_url(item_id: @itemId) do
                  変更する
            %ul.residence-data
              %li 〒#{@residence.postcode}
              %li
                %ul.residence-data__address
                  %li.residence-data__address__item #{@residence.prefecture}
                  %li.residence-data__address__item #{@residence.city}
                  %li.residence-data__address__item #{@residence.block}
                  %li.residence-data__address__item #{@residence.building}
              %li
                %ul.residence-data__name
                  %li.residence-data__name__item #{@residence.family_name}
                  %li.residence-data__name__item #{@residence.last_name}

        .purchase__inner__main__form__buy
          = f.button '購入する', class: 'purchase__inner__main__form__buy__button'
    .purchase__inner__footer
      %ul.purchase__inner__footer__list
        %li.purchase__inner__footer__list__privacy
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            メルカリ利用規約
        %li.purchase__inner__footer__list__disp
          = link_to "#" do
            特定商取引に関する表記
      .purchase__inner__footer__logo
        = link_to root_path do
          = image_tag("material/logo/logo.png", class: 'purchase__inner__footer__logo__image')
        %p ©︎ FURIMA