.purchase
  .purchase__inner
    .purchase__inner__top
      = image_tag("material/logo/logo.png", class: 'purchase__inner__top__logo')
    .purchase__inner__main
      %h1.purchase__inner__main__confirmation
        購入内容の確認
      .purchase__inner__main__item
        = image_tag("material/icon/member_photo_noimage_thumb.png", class: 'purchase__inner__main__item__image')
        %ul.purchase__inner__main__item__description
          %li.purchase__inner__main__item__description__name ディズニーTシャツ3点セット
          %li
            %ul.purchase__inner__main__item__description__money
              %li.purchase__inner__main__item__description__money__money ¥1,600（税込）
              %li.purchase__inner__main__item__description__money__text 送料込み
      -#  form bigin
      = form_with(model: @purchase, class: 'purchase__inner__main__form', local: true) do |f|
        .purchase__inner__main__form__cost
          %ul.purchase__inner__main__form__cost__box
            %li.purchase__inner__main__form__cost__box__head 支払い金額
            %li.purchase__inner__main__form__cost__box__amount ¥1,600
          -# .purchase__inner__main__form__cost__usepoint
          = label_tag :use_point ,class: 'purchase__inner__main__form__cost__usepoint' do
            = f.check_box :use_point, class: 'purchase__inner__main__form__cost__usepoint__button'
            %p.purchase__inner__main__form__cost__usepoint__text ポイントを使用 (所持ポイント: P0)

        .purchase__inner__main__form__payment
          %h2 支払い方法
          %p.register-button
            = icon("fas", "plus-circle")
            登録してください
        .purchase__inner__main__form__shipping
          - if @residence.new_record?
            %ul
              %li 配送先
              %li.register-button
                = icon("fas", "plus-circle")
                -# = link_to user_residence_path(id: params[:id], user_id: current_user.id) do
                = link_to user_residence_path(id: params[:id], user_id: 1) do  
                  登録してください
          - else
            %ul.data-exists__header
              %li 配送先
              %li.data-exists__header__modify
                -# = link_to user_residence(id: params[:id], user_id: current_user.id) do
                = link_to user_residence_path(id: params[:id], user_id: 1) do  
                  変更する
            %ul.residence-data
              %li 〒#{@residence.postcode}
              %li
                %ul.residence-data__address
                  %li.residence-data__address__item #{@residence.prefecture}
                  %li.residence-data__address__item #{@residence.city}
                  %li.residence-data__address__item #{@residence.block}
                  %li.residence-data__address__item #{@residence.building}
              %li
                %ul.residence-data__name
                  %li.residence-data__name__item #{@residence.family_name}
                  %li.residence-data__name__item #{@residence.last_name}

        .purchase__inner__main__form__buy
          = f.button '購入する', class: 'purchase__inner__main__form__buy__button'
      -#  form end
    .purchase__inner__footer
      %ul.purchase__inner__footer__list
        %li.purchase__inner__footer__list__privacy
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            メルカリ利用規約
        %li.purchase__inner__footer__list__disp
          = link_to "#" do
            特定商取引に関する表記
      .purchase__inner__footer__logo
        = link_to root_path do
          = image_tag("material/logo/logo.png", class: 'purchase__inner__footer__logo__image')
        %p ©︎ FURIMA