.header
  .header__mask
    .header__mask__menu
      .header__mask__menu__top
        = image_tag("material/logo/logo.png", class: 'header__mask__menu__top__icon')
        .header__mask__menu__top__search
          = form_with(model: @message, class: 'header__mask__menu__top__search__form', local: true) do |form|
            = form.search_field :content, placeholder: '何かお探しですか？', class: 'header__mask__menu__top__search__form__text-field'
            = icon("fa", "search", class: 'header__mask__menu__top__search__form__icon')
      .header__mask__menu__nav-box
        %ul.header__mask__menu__nav-box__left
          %a{:href => "#", class: 'header__mask__menu__nav-box__left__item'}
            = image_tag("material/icon/icon_category.png", class: 'header__mask__menu__nav-box__left__item__icon')
            %li.header__mask__menu__nav-box__left__item__parent.nav-search
              カテゴリーから探す
              %ul.header__mask__menu__nav-box__left__item__parent__child
                %li.nav-search
                  レディース
                  %ul.header__mask__menu__nav-box__left__item__parent__child__gchild
                    %li.nav-search
                      トップス
                      %ul.header__mask__menu__nav-box__left__item__parent__child__gchild__ggchild
                        %li.nav-search
                          Tシャツ/カットソー(半袖/袖なし)
          %a{:href => "#", class: 'header__mask__menu__nav-box__left__item'}
            = image_tag("material/icon/icon_brand.png", class: 'header__mask__menu__nav-box__left__item__icon')
            %li.header__mask__menu__nav-box__left__item__parent.nav-search
              ブランドから探す
              %ul.header__mask__menu__nav-box__left__item__parent__child
                %li.nav-search
                  test1
                  %ul.header__mask__menu__nav-box__left__item__parent__child__gchild
                    %li.nav-search
                      test2
                      %ul.header__mask__menu__nav-box__left__item__parent__child__gchild__ggchild
                        %li.nav-search
                          test3
        %ul.header__mask__menu__nav-box__right
          %li.header__mask__menu__nav-box__right__mask
            = link_to "#" ,class: 'nav-menu' do
              = icon("far", "heart", class: 'header__mask__menu__nav-box__right__mask__icon')
              %p.header__mask__menu__nav-box__right__mask__list いいね！一覧
          %li.header__mask__menu__nav-box__right__mask
            = link_to "#" ,class: 'nav-menu' do
              = icon("far", "bell", class: 'header__mask__menu__nav-box__right__mask__icon')
              %p.header__mask__menu__nav-box__right__mask__list お知らせ
          %li.header__mask__menu__nav-box__right__mask
            = link_to "#" ,class: 'nav-menu' do
              = icon("fa", "check", class: 'header__mask__menu__nav-box__right__mask__icon')
              %p.header__mask__menu__nav-box__right__mask__list やることリスト
          %li.header__mask__menu__nav-box__right__mask.nav-menu.header__mask__menu__nav-box__right__mask--mypage
            = link_to "#" ,class: 'nav-menu' do
              = icon("far", "user", class: 'header__mask__menu__nav-box__right__mask__icon')
              %p.header__mask__menu__nav-box__right__mask__list マイページ
            = render partial: 'shared/popup/popup_mypage.html.haml'

  .header__nav-mask
    %ul.header__nav-mask__inner
      = link_to "#", class: 'header__nav-mask__inner__item' do
        %li メルカリ >
      = link_to "#", class: 'header__nav-mask__inner__item' do
        %li マイページ