.banner
  .banner__content
    %h2.title
      = title
    .sub-title
      %pre
        = sub
    .app-btns
      = link_to "#" do
        = image_tag 'app/app-store.svg', class: "app-btn"
      = link_to "#" do
        = image_tag 'app/google-play.svg', class: "app-btn"
