= render partial: "shared/header"
.main
  .main__area
    .main__area__destroy-box
      %p 削除が完了しました。
      = link_to root_path do
        = label_tag '', '商品一覧へ戻る', {class: 'main__area__destroy-box__btn'}


  .bottom-banner
    = render partial: "banner", locals: {title: "だれでもかんたん、人生を変えるフリマアプリ", sub: "今すぐ無料ダウンロード！"}
  .main__footer
    = render "shared/footer"