.header
  header
  
.main
  .main__top-banner
    .main__top-banner--content
      %h2.title
        %br
        人生を変えるフリマアプリ
      %p.sub-title
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .app-btns
        = link_to "#" do
          = image_tag '/assets/app/app-store.svg', class: "app-btn"
        = link_to "#" do
          = image_tag '/assets/app/google-play.svg', class: "app-btn"
    
  
  .main__introduction
    introduction

  .main__middle-banner
    .main__middle-banner--content
      %h2.title
        会員数日本一位
      %p.sub-title
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
   
       
      .app-btns
        = link_to "#" do
          = image_tag '/assets/app/app-store.svg', class: "app-btn"
        = link_to "#" do
          = image_tag '/assets/app/google-play.svg', class: "app-btn"
    

  .main__feature
    feature
   

  .main__picup-category
    picup-category
  
  .main__picup-bland
    picup-bland

  .main__bottom-banner
    .main__bottom-banner--content
      %h2.title
        だれでもかんたん、人生を変えるフリマアプリ
      %p.sub-title
        今すぐ無料ダウンロード！
      .app-btns
        = link_to "#" do
          = image_tag '/assets/app/app-store.svg', class: "app-btn"
        = link_to "#" do
          = image_tag '/assets/app/google-play.svg', class: "app-btn"
    
    


.footer 
  .footer__contents
    .footer__contents--left
      .furima-info 
        .furima-info__title FURIMAについて
        .furima-info__links
          = link_to "会社概要（運営会社）", "#", class: "link"
          = link_to "プライバシーポリシー", "#", class: "link"
          = link_to "FURIMA利用規約", "#", class: "link"
          = link_to "ポイントに関する特約", "#", class: "link"

    .footer__contents--middle
      .view-furima
        .view-furima__title FURIMAを見る

        .view-furima__links
          = link_to "カテゴリー一覧", "#", class: "link"
          = link_to "ブランド一覧", "#", class: "link"

    .footer__contents--right
      .help-gide
        .help-gide__title ヘルプ＆ガイド
        .help-gide__links
          = link_to "FURIMAガイド", "#", class: "link"
          = link_to "FURIMAロゴ利用ガイドライン", "#", class: "link"
          = link_to "お知らせ", "#", class: "link"
    
  .footer__logo
    = link_to "#" do
      = image_tag '/assets/material/logo/logo-white.png', class: "logo-btn"
  
  %p.copyright © FURIMA