.card
  = render partial: "/shared/header"
  .card__card-main
    .card__card-main__mask
      = render partial:"/shared/mypage-left"
      .card__card-main__mask__contents
        .card__card-main__mask__contents__header
          支払い方法
        .card__card-main__mask__contents__body
          = form_tag(pay_user_card_index_path(current_user.id), method: :post, id: 'charge-form',  name: "inputForm") do
            .card__card-main__mask__contents__body__card
              .card__card-main__mask__contents__body__card__top
                #hold_error.error_m
                .card__card-main__mask__contents__body__card__top__line
                  .card__card-main__mask__contents__body__card__top__line__left
                    カード番号
                  .card__card-main__mask__contents__body__card__top__line__right
                    必須
              .card__card-main__mask__contents__body__card__middle
                = text_field_tag "number", "", class: "card__card-main__mask__contents__body__card__middle__box", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              #card_error.error_m
              .card__card-main__mask__contents__body__card__bottom
                = image_tag "/assets/material/logo/credit.png", class:"card__card-main__mask__contents__body__card__bottom__icon__credit"
            .card__card-main__mask__contents__body__effective
              .card__card-main__mask__contents__body__effective__top
                .card__card-main__mask__contents__body__effective__top__left
                  有効期限
                .card__card-main__mask__contents__body__effective__top__right
                  必須
              .card__card-main__mask__contents__body__effective__bottom
                .card__card-main__mask__contents__body__effective__bottom__month
                  = icon('fas', 'chevron-down', class: "card__card-main__mask__contents__body__effective__bottom__month__icon")
                  %select#exp_month{name: "exp_month", type: "text", class:"card__card-main__mask__contents__body__effective__bottom__month__select"}
                    %option{value: ""} --
                    %option{value: "1"}01
                    %option{value: "2"}02
                    %option{value: "3"}03
                    %option{value: "4"}04
                    %option{value: "5"}05
                    %option{value: "6"}06
                    %option{value: "7"}07
                    %option{value: "8"}08
                    %option{value: "9"}09
                    %option{value: "10"}10
                    %option{value: "11"}11
                    %option{value: "12"}12
                %p.card__card-main__mask__contents__body__effective__bottom__month__text 月
                .card__card-main__mask__contents__body__effective__bottom__year
                  = icon('fas', 'chevron-down', class: "card__card-main__mask__contents__body__effective__bottom__year__icon")
                  %select#exp_year{name: "exp_year", type: "text", class:"card__card-main__mask__contents__body__effective__bottom__year__select"}
                    %option{value: ""} --
                    %option{value: "2020"}20
                    %option{value: "2021"}21
                    %option{value: "2022"}22
                    %option{value: "2023"}23
                    %option{value: "2024"}24
                    %option{value: "2025"}25
                    %option{value: "2026"}26
                    %option{value: "2027"}27
                    %option{value: "2028"}28
                    %option{value: "2029"}29
                %p.card__card-main__contents__body__effective__bottom__year__text 年
              %span#effective_error.error_m
            .card__card-main__mask__contents__body__security
              .card__card-main__mask__contents__body__security__top
                .card__card-main__mask__contents__body__security__top__left
                  セキュリティーコード
                .card__card-main__mask__contents__body__security__top__right
                  必須
              .card__card-main__mask__contents__body__security__bottom
                = text_field_tag "cvc", "", class: "card__card-main__mask__contents__body__security__bottom__box", placeholder: "カード背面４桁もしくは３桁の番号", maxlength: "4", id: "cvc"
                .card__card-main__mask__contents__body__security__bottom__note
                  #cvc_error.error_m
                  = link_to "#note1", class:"card__card-main__mask__contents__body__security__bottom__note__question" do
                    ?
                  = link_to "#note1", class:"card__card-main__mask__contents__body__security__bottom__note__text" do
                    カード裏面の番号とは？
                  %p{class:'card__card-main__mask__contents__body__security__bottom__note__tooltip',id:'note1'}
                    カードの裏面をご参照ください。
                    = image_tag "/assets/material/credit/note.png", width: '240', height: '105'
            .card__card-main__mask__contents__body__btn
              #card_token
              = submit_tag "登録する", id: "token_submit", class:"card__card-main__mask__contents__body__btn__box"
  .mypage__footer
    = render "/shared/footer"

  = render partial: "/shared/sellbtn"