.residence
  = render partial: "/shared/header"
  .residence__main
    .residence__main__mask
      = render partial:"/shared/mypage-left"
      .residence__main__mask__right
        %h1.residence__main__mask__right__head 発送元・お届け先住所変更
        = form_with(model: [@user,@residence], method: 'post',url: user_residences_path, class: 'residence__main__mask__right__form', local: true) do |f|
          .residence__main__mask__right__form__mask
            .residence__main__mask__right__form__mask__name
              %p.residence-form-head
                %span.residence-form-text お名前
                %span.residence-form-required 必須
              = f.text_field :family_name, placeholder: '例)山田', class: 'residence-form-text-field'
              = f.text_field :last_name, placeholder: '例)彩', class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__jname
              %p.residence-form-head
                %span.residence-form-text お名前かな
                %span.residence-form-required 必須
              = f.text_field :j_family_name, placeholder: '例)やまだ', class:'residence-form-text-field'
              = f.text_field :j_last_name, placeholder: '例)あや', class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__postcode
              %p.residence-form-head
                %span.residence-form-text 郵便番号
                %span.residence-form-required 必須
              = f.text_field :postcode, placeholder: '例)123-4567', class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__prefecture
              %p.residence-form-head
                %span.residence-form-text 都道府県
                %span.residence-form-required 必須
              = f.collection_select :prefecture , Prefecture.all, :id, :name, {}, prompt: "---", class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__city
              %p.residence-form-head
                %span.residence-form-text 市区町村
                %span.residence-form-required 必須
              = f.text_field :city, placeholder: '例)横浜市緑区', class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__block
              %p.residence-form-head
                %span.residence-form-text 番地
                %span.residence-form-required 必須
              = f.text_field :block, placeholder: '例)青山1-1-1', class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__building
              %p.residence-form-head
                %span.residence-form-text 建物名
                %span.residence-form-optional 任意
              = f.text_field :building, placeholder: '例)柳ビル103', class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__phonenumber
              %p.residence-form-head
                %span.residence-form-text 電話
                %span.residence-form-optional 任意
              = f.text_field :phone_number, placeholder: '例)09012345678', class: 'residence-form-text-field'
            .residence__main__mask__right__form__mask__button
              = f.submit '変更する', class: 'residence-form-submit-button'
  .residence__footer
    = render "/shared/footer"

  = render partial: "/shared/sellbtn"